
.title-nave {
  padding: 2px 4px;
  margin: 2px 4px;
  color: white;
  font-size: 1rem;
  border-radius: 16px;
}

.donatore, .mediatore, .sognatore, .intermedio1, .intermedio2, .intermedio4, .intermedio5{
  color: white;
  background-color: lightblue;
  padding: 1px 2px;
  margin: 1px 2px;
  font-size: 0.8rem;
  border-radius: 32px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.intermedio1{
  background-color: indigo;
}
.intermedio2{
  background-color: blue;
}
.intermedio4{
  background-color: yellow;
  color: black;
}
.intermedio5{
  background-color: orange;
}

.tutor{

}

.selezione:hover {
  background-color: yellow;
}

.donatore {
  background-color: red;
  text-transform: uppercase;
}

.mediatore {
  background-color: green;
  text-transform: uppercase;
}

.sognatore {
  background-color: purple;
  text-transform: uppercase;
}


.cont_donatore, .cont_sognatore, .cont_mediatore, .cont_tragitto, .cont_pos, .cont_intestaz, .cont_pos_intest, .cont_intestaz_small {
  border: solid 2px #4198ef;
  padding: 2px 8px;
  margin: 2px 4px;
  font-size: 1rem;
  border-radius: 16px;
}

.cont_donatore {
  justify-content: space-between;
}

.you {
  background-color: yellow;
}
.issognatore {
  background-color: orangered;
  color: white;
  font-size: 1.10rem;
  border-radius: 64px;
  font-weight: bold;
}

.cont_tragitto{
  color: blue;
}

.cont_pos, .cont_pos_intest{
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 64px !important;
  color: red;
}

.cont_pos_intest {
  width: 37px;
  font-size: 0.75rem;
}

.extra{
  opacity: 1;
}

.passo{
  font-weight: bold;
  width: 110px;
}
.passoint{
  width: 100px;
}

.gift{
  margin: 4px;
}

.cont_intestaz, .cont_intestaz_small{
 font-size: 0.75rem;
  margin: 4px;
  border-radius: 16px !important;

}

.cont_intestaz_small{
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.title-nave {
  color: blue;
}

.titlenave{
  width: 75px;
  text-align: center;
}

.datanave{
  width: 80px;
  text-align: center;
}

.datanave_int{
  width: 60px;
  text-align: center;
}

.dati {
  color: blue;
  font-size: 1.25rem;
  font-weight: bold;
}

.mancanti {
  color: red;

}
.inviati {
  color: blue;
}

.pan_sognatore {
  padding: 0px 0px;
}

.ricevuti{
  color: green;
}

.title-nave {
  font-size: 1.25rem;
  color: blue;
}
