.signin {
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
}

.q-stepper__tab {

  @media (max-width: 718px) {
    // PER VERSIONE MOBILE
    padding: 10px 16px !important;
  }
}

.q-stepper__step-inner {
  @media (max-width: 718px) {
    padding: 0 12px 24px 40px !important;
  }
}

li {}
