.q-list-header {
  min-height: 12px;
  padding: 5px 8px;
}

.menu-hr {
  border-color: #dedede;
  height: 0.5px;
}

.router-link-active {
  color: #027be3;
  background-color: #dadada !important;
  border-right: 2px solid #027be3;
}

.list-label:first-child {
  line-height: 20px;
  padding: 5px;
  margin: 1px;
}

/*
.menu-enter-active, .scale-enter {
    -webkit-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
}

.menu-leave-to, .scale-leave-active {
    -webkit-animation: moveToBottom .5s ease both;
    animation: moveToBottom .5s ease both;
}
*/

.router-link-active {
  color: #027be3;
  background-color: #dadada !important;
  border-right: 2px solid #027be3;
}

.router-link-active .item-primary {
  color: #027be3;
}

.menu_freccina {
  position: absolute;
  right: 10px;
  display: inline-block;
  padding: 0 0px 0px 0px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
