
.cltitlebg{

}

.titletext {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  text-shadow: .25rem .25rem .5rem black;
  letter-spacing: .00937em;
}


.q-img__content > div{
  background: rgba(0,0,0,0.17) !important;
}
