.todo-menu {
  min-width: 202px;

}

.item-menu {
  font-size: 1rem;
}

.item-menu:hover {
  cursor: pointer;
}

.menuInputProgress > div:nth-child(2) > div > input {
  min-width: 30px;
  width: 30px;
}
