
.flex-item{
   // background-color: #d5e2eb;
  padding: 0px;
  margin: 0px;
  color: #000;
  font-size: 0.85rem;
  flex: 1 1 auto;
}


.flex-container2 {
  flex-flow: row;
  justify-content: space-between;
}

.flex-container2:hover {
  background-color: rgba(240, 240, 240, 0.7);
}

.rowselected {
  border: 1px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(49, 68, 240, 0.7) !important;
}


.btn-item {
  max-width: 24px;
}


.pos-item {
  max-width: 24px;
  min-width: 24px;
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  text-align: center;
  // background-color: #ff4081;
  font-size: 0.75rem;
}

.todo-menu {

}

.pos-item-popover {
  max-width: 24px;
  min-width: 24px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  color: #555;
}


.pos-item:hover {
  cursor: pointer;
}

.priority-item-popover {
  max-width: 24px;
  min-width: 24px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: 100%
}

.priority-item {
  max-width: 24px;
  min-width: 24px;
}

.completed-item {
  max-width: 24px;
  min-width: 24px;
}

.myexpired {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}

.data-item {
  max-width: 100px;
  min-width: 100px;
  display: block;
  visibility: initial;
}

/*
@media screen and (max-width: 600px) {
  .data-item {
    display: none;
    visibility: hidden;
    content: "";
  }
}
*/

.div_descr {
  // background-color: green;
  margin: 2px;
  padding: 2px;
  flex: 2 1 auto;
}

.div_descr:hover {
  border: 1px solid rgba(125, 255, 125, 0.5);
  padding: 1px;
}


.appsingletodo {
  color: black;
  font-size: 1.0rem;
  // display: flex;
  margin: 1px;
  padding: 1px;
  border: 0px;
  background-color: #e1ebed;
}

.mycols{
  margin: 1px;
  padding: 2px;
  //width: 40px;
  // border-color: #8a8484;
  // border-style: outset;
  margin: auto;
  // flex-grow: 1;
}



.mycols:hover{

}

.mybtn{
  width: 18px;
  height: 18px;
}

.icon_completed {
  position: relative;
  transform: translateY(0%);
}

.mydescr{
}


.icon_completed {
  color: rgb(178, 235, 225);
}

.status_completed {
  color:rgba(49, 68, 240, 0.7);;
}

