.flag_icon{
  max-height: 20px;
}

.label_count{
  font-size: 1.00rem;
  font-weight: bold;
}

.q-avatar {
  font-size: 22px;
}

.q-item {
  min-height: 17px;
}
.clitemnat{
  height: 15px;
  padding: 0px 0px !important;
}

